
.App {
  
  background: #E5E5E5;
}

.bannercontainer {
  margin-bottom: 15px;
  
}

.icon,
.bannertext {
  vertical-align: middle;
  display: inline-block;
}

.bannertext {
  @media (max-width:480px)  {
    display: inline;
  }
  font-family: National2-Bold;
  font-weight: 700;
  font-size: 44px;
  line-height: 38px;
  color: #FC5647;
  letter-spacing: -0.75px;
  vertical-align: middle;
  display: inline-block;
  padding: 0px 0px 15px 15px;
}

.button {
  background-color: #FC5647;
  color: white;
  border: none;
  width: 370px;
  height: 50px;
  font-size: 20px;
  font-family: National2-Bold;
  border-radius: 4px;
  line-height: 24px;
}

.tagline {
  @media (max-width:480px)  {
    font-size: 31px;
  }
  font-family: National2-Bold;
  font-weight: 700;
  font-size: 36px;
  line-height: 28px;
  color: #282827;
  letter-spacing: -0.75px; /* identical to box height, or 78% */
}

.bodytext {
  @media (max-width:480px)  {
    font-size: 21px;
  }
  font-family: National2;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
  color: #282827;
  letter-spacing: .2px;
  padding-bottom: 20px;
}

.CTAcard {
  padding: 20px;
  border: hidden;
  background: white;
}