@font-face {
  font-family: "National2";
  src: local("National2"),
    url("./fonts/National 2/National2-Regular.otf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "National2-Bold";
  src: local("National2"),
    url("./fonts/National 2/National2-Bold.otf") format("truetype");
  font-weight: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
